
.App {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 94vh;
    width: 100%;
    margin: 3vh auto;
    padding: 15px;
    background: #c7def1;
    border: 2px solid #c7def1;
    border-radius: 8px;
    box-sizing: border-box;
}

.App input {
    height: 32px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #6aa8db;
}

.App input:focus {
    outline: aquamarine;
}

.App .search-sort {
    display: flex;
}

.btn-edit {
    background: #fff url("img/btn-edit.png") no-repeat center;
    background-size: 15px;
    width: 32px;
    height: 32px;
    transition: all 0.3s;
    border: 2px solid #6aa8db;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn-filter {
    background: #fff url("img/btn-filter.png") no-repeat center;
    background-size: 15px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-left: 10px;
    transition: all 0.3s;
    border: 2px solid #6aa8db;
    box-sizing: border-box;
}

.btn-filter:hover {
    background: #c2c5e9 url("img/btn-filter.png") no-repeat center;
    background-size: 15px;
}

.App button {
    outline: none;
    box-sizing: border-box;
    height: 32px;
    border-radius: 5px;
    padding: 6px 20px;
    line-height: 1;
    border: none;
    color: #fff;
    cursor: pointer;
}

.App button.btn-blue {
    background: #6c7ce9;
}

.App button.btn-red {
    background: #d34040;
}

.App button.btn-green {
    background: #5ba95b;
}

.App .contacts-total {
    font-weight: bold;
    text-align: center;
    padding: 6px 12px;
    background: #a6e0f1;
    border-radius: 5px;
    margin-bottom: 10px;
}

